@using System.Globalization
@model AboutViewModel

@{
    ViewData["Title"] = "About";

    Localizer.Localizer.Instance["CompanyName", "en-US"] = "Company Name";
}
<h1>
    Culture : @(CultureInfo.CurrentCulture) <br />
    UI Culture : @(CultureInfo.CurrentUICulture) <br />
</h1>
<h2>@Html.DisplayNameFor(model => model.CompanyName) :  @Model.CompanyName</h2>
<h3>@Html.DisplayNameFor(model => model.Address) : @Model.Address</h3>

<p>
    @Html.DisplayNameFor(model => model.Description) :  @Model.Description
</p>
